[submodule "debussy_childrens_corner"]
	path = debussy_childrens_corner
	url = https://github.com/DCMLab/debussy_childrens_corner
	branch = main
[submodule "debussy_deux_arabesques"]
	path = debussy_deux_arabesques
	url = https://github.com/DCMLab/debussy_deux_arabesques
	branch = main
[submodule "debussy_estampes"]
	path = debussy_estampes
	url = https://github.com/DCMLab/debussy_estampes
	branch = main
[submodule "debussy_etudes"]
	path = debussy_etudes
	url = https://github.com/DCMLab/debussy_etudes
	branch = main
[submodule "debussy_images"]
	path = debussy_images
	url = https://github.com/DCMLab/debussy_images
	branch = main
[submodule "debussy_other_piano_pieces"]
	path = debussy_other_piano_pieces
	url = https://github.com/DCMLab/debussy_other_piano_pieces
	branch = main
[submodule "debussy_pour_le_piano"]
	path = debussy_pour_le_piano
	url = https://github.com/DCMLab/debussy_pour_le_piano
	branch = main
[submodule "debussy_preludes"]
	path = debussy_preludes
	url = https://github.com/DCMLab/debussy_preludes
	branch = main
[submodule "debussy_suite_bergamasque"]
	path = debussy_suite_bergamasque
	url = https://github.com/DCMLab/debussy_suite_bergamasque
	branch = main
