[submodule "debussy_childrens_corner"]
	path = debussy_childrens_corner
	url = git@github.com:DCMLab/debussy_childrens_corner.git
	branch = main
[submodule "debussy_deux_arabesques"]
	path = debussy_deux_arabesques
	url = git@github.com:DCMLab/debussy_deux_arabesques.git
	branch = main
[submodule "debussy_estampes"]
	path = debussy_estampes
	url = git@github.com:DCMLab/debussy_estampes.git
	branch = main
[submodule "debussy_etudes"]
	path = debussy_etudes
	url = git@github.com:DCMLab/debussy_etudes.git
	branch = main
[submodule "debussy_images"]
	path = debussy_images
	url = git@github.com:DCMLab/debussy_images.git
	branch = main
[submodule "debussy_other_piano_pieces"]
	path = debussy_other_piano_pieces
	url = git@github.com:DCMLab/debussy_other_piano_pieces.git
	branch = main
[submodule "debussy_pour_le_piano"]
	path = debussy_pour_le_piano
	url = git@github.com:DCMLab/debussy_pour_le_piano.git
	branch = main
[submodule "debussy_preludes"]
	path = debussy_preludes
	url = git@github.com:DCMLab/debussy_preludes.git
	branch = main
[submodule "debussy_suite_bergamasque"]
	path = debussy_suite_bergamasque
	url = git@github.com:DCMLab/debussy_suite_bergamasque.git
	branch = main
